<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="text/css" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/paper-dashboard.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/themify-icons.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<title> Generate Code </title>
</head>
<body>
	<div class="wrapper">
		<div class="sidebar" data-background-color="white" data-active-color="danger">
  		<div class="sidebar-wrapper">
        <div class="logo">
          <a href="/" class="simple-text">ACLC</a>
        </div>
        <ul class="nav">
          <li>
            <a href="/">
            	<i class="ti-panel"></i>
              	<p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/addStudents">
              <i class="ti-user"></i>
                <p>Add Students</p>
            </a>
          </li>
          <li>
          	<a href="studentList">
              <i class="ti-view-list-alt"></i>
                <p>Student List</p>
            </a>
          </li>
          <li class="active">
            <a href="/generateCode">
              <i class="ti-view-list-alt"></i>
              <p>Generate Code</p>
            </a>
          </li>
					<li class="active-pro">
            <a href="/logout">
              <i class="ti-power-off"></i>
                <p>Logout</p>
            </a>
          </li>
        </ul>
    	</div>
    </div>
    <div class="main-panel">
			<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          	<button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="/studentList">Student List</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                	<i class="ti-panel"></i>
										<p>Stats</p>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell"></i>
                  <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Notification 1</a></li>
                  <li><a href="#">Notification 2</a></li>
                  <li><a href="#">Notification 3</a></li>
                  <li><a href="#">Notification 4</a></li>
                  <li><a href="#">Another notification</a></li>
                </ul>
              </li>
							<li>
                <a href="#">
									<i class="ti-settings"></i>
										<p>Settings</p>
                </a>
              </li>
            </ul>
          </div>
        </div>  
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h4 class="title">Students List
                    <button class="btn btn-primary pull-right generate">Generate Code</button>
                  </h4>
                  <br> 
                  <div class="row">
                     <div class="col-md-4">
                      <select class="form-control border-input" id="course">
                        <option selected disabled value=""> Select Course</option>
                        <option value="all"> All Course</option>
                        {% for courses in course %}
                        <option value="{{ courses[0] }}"> {{ courses[1] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  
                    <div class="col-md-3">
                      <select class="form-control border-input" id="sem">
                        <option selected disabled value=""> Select Term</option>
                        {% for sems in sem %}
                        <option value="{{ sems[1] }}" data-value = "{{sems[0]}}"> {{ sems[1] }} </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="form-control border-input" id="exam">
                        <option selected disabled value=""> Select Exam</option>
                        {% for exam in exams %}
                        <option value="{{ exam[1] }}"> {{ exam[1] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  <!--   <div class="col-md-2">
                      <select class="form-control border-input" id="year">
                        {% for years in year %}
                        <option value="{{ years[0] }}"> {{ years[1] }}</option>
                        {% endfor %}
                      </select>
                    </div> -->

                   

                  </div>
                </div>
              	<div class="content table-responsive table-full-width">
                	<table class="table table-striped">
                    <thead>
                    	<th>Student Id</th>
                    	<th>Name</th>
                    	<th>Course</th>
                    	<th>Term</th>
                      <th>Exam</th>
                    	<th>Permit</th>
                    </thead>
                  	<tbody id="student_course">
                     </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary pull-right save_code">SAVE CODE</button>
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <nav class="pull-left">
            <ul>
              <li>
            		<span>ACLC</span>
              </li>
            </ul>
          </nav>
					<div class="copyright pull-right">
	          &copy; <script>document.write(new Date().getFullYear())</script>
	        </div>
        </div>
    	</footer>
  	</div>
	</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-checkbox-radio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/paper-dashboard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>
<script type="text/javascript">
    $(function(){
      setDefaultList()
      function setDefaultList(){
        var getDefaultList = "";
        $.post('/getDefaultList', function(data){
       for(xx in data){
          getDefaultList +=
            '<tr>\
                  <td>'+ data[xx].id+'</td>\
                  <td>'+ data[xx].name+'</td>\
                  <td>'+ data[xx].course+'</td>\
                  <td class="term"></td>\
                  <td class="exam"></td>\
                  <td class="permit"></td>\
              </tr>'
            }
            $('#student_course').html(getDefaultList)
          })          
      }


      $('#course').on('change', function(){
          var course = $('#course').val();
          if(course == 'all'){
            var getDefaultList = "";
            $.post('/getDefaultList', function(data){
             for(xx in data){
              getDefaultList +=
                '<tr>\
                      <td>'+ data[xx].id+'</td>\
                      <td>'+ data[xx].name+'</td>\
                      <td>'+ data[xx].course+'</td>\
                      <td class="term"></td>\
                      <td class="exam"></td>\
                      <td class="permit"></td>\
                  </tr>'
                }
                $('#student_course').html(getDefaultList)
              })  
          }
          else{
            $.post('/getListCourse',{course:course}, function(data){
                var list ='';
                for(datass in data){
                  list += '<tr>\
                            <td>'+ data[datass].id+'</td>\
                            <td>'+ data[datass].name+'</td>\
                            <td>'+ data[datass].course+'</td>\
                            <td class="term"></td>\
                            <td class="exam"></td>\
                            <td class="permit"></td>\
                          </tr>'
                }
                 $('#student_course').html(list)
            })
          }
        })


      var loop_table = {
        loop : function(){
               var loop = $('table > tbody > tr')
               return loop.length
        }
      }


      $('#sem').on('change', function(){
        $('.term').attr('data-value',$(this).data('val'))
        $('.term').text($(this).val())
        set_permit();
      })

      $('#exam').on('change', function(){
        $('.exam').text($(this).val())
        set_permit();
      })

      function set_permit(){
        for(var xx=0; xx < loop_table.loop(); xx++){
          $('table > tbody > tr:eq('+xx+') > td:eq(5)').text('');
        }
        show_permit();
      }

      function show_permit(){
        setTimeout(function(){
          var term = $('table > tbody > tr > td:eq(3)').text();
          var exam = $('table > tbody > tr > td:eq(4)').text();
          var loop = $('table > tbody > tr')
          var index = loop.length
          var ii = 0;
          for(var xx = 0 ; xx < index; xx++){
            var id = $('table > tbody > tr:eq('+xx+') > td:eq(0)').text();
            $.post('/get_permit',{id:id,term:term,exam:exam})
             .done(function(res){
              for(xx in res){
                 $('table > tbody > tr:eq('+ii+') > td:eq(5)').text(res[xx].permit);
              }
              ii++;
             })
          }
        },500)
      }


      $('.generate').click(function(){
          var term = $('table > tbody > tr > td:eq(3)').text();
          var exam = $('table > tbody > tr > td:eq(4)').text();  
          var permit =  $('table > tbody > tr:eq(0) > td:eq(5)').text();  
        if (term && exam) {
              var loop = $('table > tbody > tr')
              var index = loop.length
              var ii = 0;
              for(var xx = 0 ; xx <= index; xx++){
                $.post('/generateCodeStudent',{term:$('.term').text(),exam:exam})
                .done(function(res){
                    $('table > tbody >  tr:eq('+ii+') > td:eq(5)').text(res);
                    ii++
                })  
              }       
        }
        else
        {
          alert("TERM | EXAM must be inputed")
        }
      });

      var table_data =
      {
         id : function(xx){
           var id =  $('table > tbody > tr:eq('+ xx+') > td:eq(0)').text();
           return id;
         },
        term : function(xx){
          var term = $('table > tbody > tr:eq('+ xx+') > td:eq(3)').text();
          return term;
        },
        exam : function(xx){
          var exam  = $('table > tbody > tr:eq('+ xx+') > td:eq(4)').text();
          return exam
        },
        permit : function(xx){
         var permit =  $('table > tbody > tr:eq('+ xx+') > td:eq(5)').text();
         return permit
        } 
      }

      $('.save_code').click(function(){
          var loop = $('table > tbody > tr')
          var index = loop.length

        if(table_data.term(0) != '' && table_data.exam(0) !='' && table_data.permit(0) != '' ){
          for(var xx = 0 ; xx < index; xx++)
          {

              save_permit(table_data.id(xx),table_data.term(xx),table_data.exam(xx),table_data.permit(xx));
          }
        }
        else
        {
          alert("error!")
        }

      })

      function save_permit(id,semister,exam,permit)
      {
        $.post('/update_permit',{id:id,semister:semister,exam:exam,permit:permit})
        .done(function(res){
          console.log(res);
        })
      }

    })
</script>
</html>